---
import { KContainer, KHeader, KMain, KAside, KFooter, KButton, KSkeletonInput } from '@ikun-ui/core';
import { KIcon } from '@ikun-ui/icon';
import Aside from './Aside.vue';
import Search from '@/components/music/Search/index.tsx'
import 'virtual:uno.css';
import 'element-plus/dist/index.css';
interface Props {
	title: string
}
interface Params {
	[key:string]: string
}
const { title } = Astro.props;
const { type } = Astro.params;
const { url } = Astro;
---
<!doctype html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body>
		<KContainer>
			<KAside cls="text-center bg-gray-200 flex leading-60px w-1/6">
				<Aside client:load routerPath={url.pathname}></Aside>
			</KAside>
			<KContainer>
				<KHeader slot="header" cls="text-center flex items-center justify-between bg-gray-100 leading-40px">
					<div class="navgator flex justify-center mr-5">
						<KButton type="main" cls="mr-2 go-back" ghost>
							<KIcon icon="i-carbon-arrow-left" size={16}></KIcon>
						</KButton>
						<KButton type="main" cls="mr-2 go-forward" ghost>
							<KIcon icon="i-carbon-arrow-right" size={16}></KIcon>
						</KButton>
						<KButton type="main" cls="go-reload" ghost>
							<KIcon icon="i-carbon-renew" size={16}></KIcon>
						</KButton>
					</div>
					<h3>{title}</h3>
					<Search type={type} className="mr-5" client:only="react" />
				</KHeader>
				<KMain cls="text-center bg-gray-300 overflow-y-auto">
					<slot></slot>
				</KMain>
				<KFooter slot="footer" cls="text-center bg-gray-100 leading-60px">
					与君相别离，何日是归期
				</KFooter>
			</KContainer>
		</KContainer>
	</body>
</html>
<script is:inline>
	document.querySelector('.go-back').onclick = () => {
		window.history.back()
	}
	document.querySelector('.go-forward').onclick = () => {
		window.history.forward()
	}
	document.querySelector('.go-reload').onclick = () => {
		window.location.reload()
	}
</script>
<style lang="less">
	body {
		height: 100%;
		padding: 0;
		margin: 0;
	}
	.k-container {
		height: 100vh;
		overflow: hidden;
		.k-container {
			overflow: auto;
		}
	}
</style>